---
- set_fact:
    INGRESS_NGINX_CONFIG: "{{ INGRESS_NGINX_CONFIG |combine(private_cluster[PROVIDER], recursive=True)}}"
  when:
    - PRIVATE_CLUSTER_ENABLE
    - PROVIDER in private_cluster
  tags:
    - install
    - update

- name: Deploy ingress-nginx
  community.kubernetes.helm:
    name: "{{ INGRESS_NGINX_NAME }}"
    namespace: "{{ INGRESS_NGINX_NAMESPACE }}"
    chart_repo_url: "{{ INGRESS_NGINX_CHART_URL }}"
    chart_ref: "{{ INGRESS_NGINX_CHART_NAME }}"
    chart_version: "{{ INGRESS_NGINX_CHART_VERSION }}"
    values: "{{ INGRESS_NGINX_CONFIG }}"
    kubeconfig: "{{ KUBECONFIG }}"
    create_namespace: true
    wait: true
  tags:
    - install
    - update

- name: Remove ingress-nginx
  community.kubernetes.helm:
    name: "{{ INGRESS_NGINX_NAME }}"
    namespace: "{{ INGRESS_NGINX_NAMESPACE }}"
    kubeconfig: "{{ KUBECONFIG }}"
    wait: true
    values: "{{ INGRESS_NGINX_CONFIG }}"
    state: absent
  tags:
    - uninstall

- name: Remove {{ INGRESS_NGINX_NAMESPACE }} namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ INGRESS_NGINX_NAMESPACE }}"
    wait: true
    wait_timeout: 600
    state: absent
    kubeconfig: "{{ KUBECONFIG }}"
  tags:
    - uninstall
