
---
- name: Include efs-provisioner
  include_role: 
    name: efs-provisioner
  vars:
    efsFileSystemId: "{{ V4_CFG_RWX_FILESTORE_ID }}"
    awsRegion: "{{ V4_CFG_RWX_FILESTORE_REGION }}"
  when:
    - V4_CFG_MANAGE_STORAGE is defined
    - V4_CFG_MANAGE_STORAGE
    - V4_CFG_RWX_FILESTORE_ID is defined
    - PROVIDER == 'aws' 
  tags:
    - baseline

- name: Include nfs-client-provisioner
  include_role: 
    name: nfs-client-provisioner
  vars:
    nfs_client_config:
      nfs:
        server: "{{ V4_CFG_RWX_FILESTORE_ENDPOINT }}"
        path: "{{ V4_CFG_RWX_FILESTORE_PATH }}/pvs"
      podSecurityPolicy:
        enabled: true
      storageClass:
        name: "sas"
        defaultClass: false
        archiveOnDelete: false
  when:
    - V4_CFG_RWX_FILESTORE_ENDPOINT is defined
    - V4_CFG_RWX_FILESTORE_PATH is defined
    - V4_CFG_MANAGE_STORAGE is defined
    - V4_CFG_MANAGE_STORAGE
    - ( PROVIDER == 'aws' ) and (( V4_CFG_RWX_FILESTORE_ID is not defined ) or ( V4_CFG_RWX_FILESTORE_ID is none ))
  tags:
    - baseline

- name: Include ingress nginx
  include_role: 
    name: ingress-nginx
  when:
    - V4_CFG_INGRESS_TYPE is defined
    - V4_CFG_INGRESS_TYPE == 'ingress'
  tags:
    - baseline

- name: Include istio
  include_role: 
    name: istio
  when:
    - V4_CFG_INGRESS_TYPE is defined
    - V4_CFG_INGRESS_TYPE == 'istio'
  tags:
    - baseline

- name: Include cert manager
  include_role: 
    name: cert-manager
  tags:
    - baseline
