---
- name: Check for metrics service
  community.kubernetes.k8s_info:
    api_version: v1
    kind: Service
    name: metrics-server
    namespace: kube-system
    kubeconfig: "{{ KUBECONFIG }}"
  register: metrics_service
  when:
  - METRICS_SERVER_ENABLED
  tags:
    - install
    - update
    - uninstall

- name: Deploy metrics-server
  community.kubernetes.helm:
    name: "{{ METRICS_SERVER_NAME }}"
    namespace: "kube-system"
    chart_repo_url: "{{ METRICS_SERVER_CHART_URL }}"
    chart_ref: "{{ METRICS_SERVER_CHART_NAME }}"
    chart_version: "{{ METRICS_SERVER_CHART_VERSION }}"
    values: "{{ METRICS_SERVER_CONFIG }}"
    kubeconfig: "{{ KUBECONFIG }}"
    wait: true
  tags:
    - install
    - update
  when:
    - "'resources' not in metrics_service" or (metrics_service.resources | length) == 0
    - METRICS_SERVER_ENABLED

- name: Remove metrics-server
  community.kubernetes.helm:
    name: "{{ METRICS_SERVER_NAME }}"
    namespace: "kube-system"
    kubeconfig: "{{ KUBECONFIG }}"
    values: "{{ METRICS_SERVER_CONFIG }}"
    state: absent
    wait: true
  tags:
    - uninstall
