- name: postgres - update cloud-sql-proxy fqdn
  block:
    - ansible.utils.update_fact:
        updates:
          - path: "V4_CFG_POSTGRES_SERVERS[{{ role }}][fqdn]"
            value: "sql-proxy-{{ role }}"
      register: updated
    - set_fact:
        V4_CFG_POSTGRES_SERVERS: "{{ updated.V4_CFG_POSTGRES_SERVERS }}"
  tags:
    - install
    - uninstall
    - upgrade

- name: postgres - setup cloud-sql-proxy account
  shell: |
    gcloud auth activate-service-account '{{ V4_CFG_CLOUD_SERVICE_ACCOUNT_NAME }}' --key-file={{ V4_CFG_CLOUD_SERVICE_ACCOUNT_AUTH }}
    gcloud iam service-accounts add-iam-policy-binding '{{ settings.service_account }}' --role='roles/iam.workloadIdentityUser' --member='serviceAccount:{{ PROVIDER_ACCOUNT }}.svc.id.goog[{{ NAMESPACE }}/{{ PROXY_SQL_K8S_SERVICE_ACCOUNT }}]' --project='{{ PROVIDER_ACCOUNT }}'
  tags:
    - install
    - uninstall
    - upgrade

- name: postgres - cloud-sql-proxy overlays
  block:
    - template:
        src: "{{ role_path }}/templates/resources/cloud-sql-proxy-instance.yaml"
        dest: "{{ role_path }}/templates/resources/cloud-sql-proxy-{{ role }}-instance.yaml"
        mode: "0660"
    - overlay_facts:
        cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
        cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
        existing: "{{ vdm_overlays }}"
        add:
          - { resources: "cloud-sql-proxy-{{ role }}-instance.yaml", vdm: true }
          - { resources: "cloud-sql-proxy-sa.yaml", vdm: true }
          - { transformers: "overlays/external-postgres/googlecloud-full-stack-tls-transformer.yaml", priority: 55 }
  tags:
    - install
    - uninstall
    - upgrade
