- name: postgres - gcp sql-proxy
  block:
    - set_fact:
        V4_CFG_POSTGRES_FQDN: "sql-proxy"
    - shell: |
          gcloud auth activate-service-account '{{ V4_CFG_CLOUD_SERVICE_ACCOUNT_NAME }}' --key-file={{ V4_CFG_CLOUD_SERVICE_ACCOUNT_AUTH }}
          gcloud iam service-accounts add-iam-policy-binding '{{ V4_CFG_POSTGRES_SERVICE_ACCOUNT }}' --role='roles/iam.workloadIdentityUser' --member='serviceAccount:{{ PROVIDER_ACCOUNT }}.svc.id.goog[{{ NAMESPACE }}/{{ PROXY_SQL_K8S_SERVICE_ACCOUNT }}]' --project='{{ PROVIDER_ACCOUNT }}'
    - overlay_facts:
        cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
        cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
        existing: "{{ vdm_overlays }}"
        add:
          - { resources: "cloud-sql-proxy.yaml", vdm: true }
          - { transformers: "overlays/external-postgres/googlecloud-full-stack-tls-transformer.yaml", priority: 55 }
  when: 
    - V4_CFG_POSTGRES_TYPE == 'external'
    - V4_CFG_POSTGRES_SERVICE_ACCOUNT is not None
    - V4_CFG_CLOUD_SERVICE_ACCOUNT_NAME is not None
    - PROVIDER == "gcp"
  tags:
    - install
    - uninstall
    - upgrade

- name: postgres - pre 2021.1.4
  block:
    - name: postgres - internal
      overlay_facts:
        cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
        cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
        existing: "{{ vdm_overlays }}"
        add:
          - { resources: "overlays/internal-postgres" }
          - { resources: "overlays/crunchydata" }
          - { transformers: "overlays/internal-postgres/internal-postgres-transformer.yaml" }
          - { transformers: "postgres-storage-transformer.yaml", vdm: true, max: "2020.1.3" }
          - { transformers: "postgres-storage-transformer.v2.yaml", vdm: true, min: "2020.1.3"}
      when: 
        - V4_CFG_POSTGRES_TYPE == 'internal'
    - name: postgres - external
      overlay_facts:
        cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
        cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
        existing: "{{ vdm_overlays }}"
        add:
          - { transformers: "overlays/external-postgres/external-postgres-transformer.yaml" }
          - { generators: "postgres-sas-user.yaml", vdm: true }
          - { generators: "sas-go-config.yaml", vdm: true }
          - { generators: "sas-postgres-config.yaml", max: "2020.0.4", vdm: true }
          - { generators: "sas-postgres-config.v2.yaml", min: "2020.0.5", vdm: true }
      when: 
        - V4_CFG_POSTGRES_TYPE == 'external'
  when:
    - V4_CFG_CADENCE_VERSION is version('2021.1.4', "<")
  tags:
    - install
    - uninstall
    - upgrade

- name: postgres - post 2021.1.4
  block:
    - set_fact:
        internal_postgres: "{{ V4_CFG_POSTGRES_SERVERS.default.internal }}"
        multi_servers: "{{ (V4_CFG_POSTGRES_SERVERS|length) > 1 }}"
    - name: postgres - internal
      overlay_facts:
        cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
        cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
        existing: "{{ vdm_overlays }}"
        add:
          - { resources: "overlays/internal-postgres" }
      when: 
        - internal_postgres
    - name: postgres - external
      overlay_facts:
        cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
        cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
        existing: "{{ vdm_overlays }}"
        add:
          - { transformers: "overlays/external-postgres/external-postgres-transformer.yaml" }
      when: 
        - not internal_postgres
    - name: postgres - instance
      include_tasks: postgres-instance.yaml
      vars:
        role: "{{ item.key }}"
        settings: "{{ item.value }}"
        internal: "{{ internal_postgres }}"
      with_dict: "{{ V4_CFG_POSTGRES_SERVERS }}"
  when:
    - V4_CFG_CADENCE_VERSION is version('2021.1.4', ">=") or V4_CFG_CADENCE_NAME == "fast"
  tags:
    - install
    - uninstall
    - upgrade
