## ignore log files
*.log

## ignore galaxy_install_info
.galaxy_install_info

## ignore ansible-vars.yml
ansible-vars.yml
ansible-vars.yaml

## ignore data directory
data/

.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
