---
- name: Check for metrics service
  community.kubernetes.k8s_info:
    api_version: v1
    kind: Service
    name: metrics-server
    namespace: kube-system
    kubeconfig: "{{ kubeconfig }}"
  register: metrics_service
  tags:
    - install
    - upgrade
    - uninstall

- name: Deploy metrics-server
  community.kubernetes.helm:
    name: "{{ metrics_server_name }}"
    namespace: "kube-system"
    chart_ref_url: https://charts.bitnami.com/bitnami/
    chart_ref: bitnami/metrics-server
    chart_version: "{{ chart_version }}"
    values: "{{ metrics_server_config }}"
    kubeconfig: "{{ kubeconfig }}"
    wait: true
  tags:
    - install
    - upgrade
  when:
    - (metrics_service.resources | length) == 0

- name: Remove metrics-server
  community.kubernetes.helm:
    name: "{{ metrics_server_name }}"
    namespace: "kube-system"
    kubeconfig: "{{ kubeconfig }}"
    values: "{{ metrics_server_config }}"
    state: absent
    wait: true
  tags:
    - uninstall