# This block of code is for specifying adding a backup controller in an MPP
# deployment. Do not use this block for SMP deployments.
---
apiVersion: builtin
kind: PatchTransformer
metadata:
  name: cas-manage-backup
patch: |-
   - op: replace
     path: /spec/backupControllers
     value:
       1
target:
  group: viya.sas.com
  kind: CASDeployment
  name: .*
  # This applies to the default CAS server:
  labelSelector: "sas.com/cas-server-default"
  version: v1alpha1
