nfs_chart_version: 4.0.8
nfs_name: nfs-subdir-external-provisioner
nfs_namespace: nfs-client
kubeconfig: ~/.kube/config

nfs_server: null
nfs_path: /

nfs_config:
  nfs:
    server: "{{ nfs_server }}"
    path: "{{ nfs_path | replace('/$', '') }}/pvs"
    mountOptions: 
      - noatime
      - nodiratime
      - 'rsize=262144'
      - 'wsize=262144'
  storageClass:
    archiveOnDelete: "false"
    name: sas
