---
apiVersion: builtin
kind: PatchTransformer
metadata:
  name: cas-enable-external-services
patch: |-
  - op: add
    path: /spec/publishBinaryService
    value: true
  - op: add
    path: /spec/serviceTemplate
    value:
      spec:
        type: LoadBalancer
        loadBalancerSourceRanges: {{ LOADBALANCER_SOURCE_RANGES }}
target:
  group: viya.sas.com
  kind: CASDeployment
  # This applies to one particular named CAS server:
  name: {{ NAME-OF-SERVER }}
  version: v1alpha1
