---
- name: "cas - base"
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { resources: "{{ BUNDLE_ROOT }}/overlays/cas-server" }
  tags:
    - install
    - uninstall
    - upgrade

- name: cas - user defined sssd
  block:
    - file:
        path: "{{ DEPLOY_DIR }}/site-config/cas-server/"
        state: directory
    - copy:
        src: "{{ V4_CFG_SSSD }}"
        dest: "{{ DEPLOY_DIR }}/site-config/cas-server/sssd.conf"
    - overlay_facts:
        existing: "{{ vdm_overlays }}"
        add:
          - { transformers: "{{ BUNDLE_ROOT }}/overlays/cas-server/cas-sssd-sidecar.yaml", priority: 0}
          - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/cas-sssd.yaml" }
          - { generators: "{{ VDM_GENERATORS_PATH }}/sas-sssd-config.yaml" }
  when:
  - V4_CFG_SSSD is not none
  tags:
    - install
    - uninstall
    - upgrade

- name: "cas - backup controller"
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/cas-manage-backup.yaml" }
  when:
    - V4_CFG_CAS_ENABLE_BACKUP_CONTROLLER
  tags:
    - install
    - uninstall
    - upgrade

- name: "cas - auto resources"
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { resources: "{{ BUNDLE_ROOT }}/overlays/cas-server/auto-resources", priority: 40 }
      - { transformers: "{{ BUNDLE_ROOT }}/overlays/cas-server/auto-resources/remove-resources.yaml", priority: 90 }
  when:
    - V4_CFG_CAS_RAM is none or V4_CFG_CAS_CORES is none
  tags:
    - install
    - uninstall
    - upgrade

- name: "cas - user-defined resources"
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/cas-manage-cpu-and-memory.yaml" }
  when:
    - V4_CFG_CAS_RAM is not none
    - V4_CFG_CAS_CORES is not none
  tags:
    - install
    - uninstall
    - upgrade

- name: "cas - MPP workers"
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/cas-manage-workers.yaml" }
  when:
    - V4_CFG_CAS_WORKER_COUNT |int > 1
  tags:
    - install
    - uninstall
    - upgrade

- name: "cas - External services"
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/cas-enable-external-services.yaml" }
  when:
    - V4_CFG_CAS_ENABLE_LOADBALANCER
  tags:
    - install
    - uninstall
    - upgrade