---

- name: Create namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ NAMESPACE }}"
    wait: true
    kubeconfig: "{{ KUBECONFIG }}"
  tags:
    - install
    - upgrade

- name: prereqs - cluster-wide
  shell: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=cluster-wide" -f {{ DEPLOY_DIR }}/site.yaml
    kubectl --kubeconfig {{ KUBECONFIG }} wait --for condition=established --timeout=60s -l "sas.com/admin=cluster-wide" crd
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - result["stderr"] is not regex(".* no matches for kind .* in version .*")  
    - result["stderr"] in not regex(".* Warning .*")
  tags:
    - install
    - upgrade

- name: prereqs - cluster-local deploy
  command: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=cluster-local" -f {{ DEPLOY_DIR }}/site.yaml --prune
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - result["stderr"] is not regex(".* no matches for kind .* in version .*")  
    - result["stderr"] in not regex(".* Warning .*")
  tags:
    - install
    - upgrade

- name: manifest - deploy
  command: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=namespace" -f {{ DEPLOY_DIR }}/site.yaml --prune
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - result["stderr"] is not regex(".* no matches for kind .* in version .*")  
    - result["stderr"] in not regex(".* Warning .*")
  tags:
    - install
    - upgrade

- name: manifest - deploy istio
  command: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=namespace" --prune --prune-whitelist=networking.istio.io/v1alpha3/DestinationRule --prune-whitelist=networking.istio.io/v1alpha3/VirtualService -f {{ DEPLOY_DIR }}/site.yaml
  register: result
  when: 
    - V4_CFG_INGRESS_TYPE == "istio"
  failed_when:
    - result["stderr"]|length > 0
    - result["stderr"] is not regex(".* no matches for kind .* in version .*")  
    - result["stderr"] in not regex(".* Warning .*")
  tags:
    - install
    - upgrade

- name: Remove Viya
  community.kubernetes.k8s:
    state: absent
    src:  "{{ DEPLOY_DIR }}/site.yaml"
    wait: false
    kubeconfig: "{{ KUBECONFIG }}"
  register: result
  failed_when:
    - "'Failed to find' not in result['msg']"
  tags:
    - uninstall

- name: Delete namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ NAMESPACE }}"
    wait: true
    kubeconfig: "{{ KUBECONFIG }}"
    state: absent
  tags:
    - uninstall
