---

- name: Create namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ NAMESPACE }}"
    wait: true
    kubeconfig: "{{ KUBECONFIG }}"
  tags:
    - install
    - update

- name: prereqs - cluster-api
  ansible.builtin.shell: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=cluster-api" --server-side --force-conflicts -f {{ DEPLOY_DIR }}/site.yaml
    kubectl --kubeconfig {{ KUBECONFIG }} wait --for condition=established --timeout=60s -l "sas.com/admin=cluster-api" crd
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - '"no matches for kind" not in result.stderr'
    - '"in version" not in result.stderr'
    - '"Warning" not in result.stderr'
    - '"no matching resources found" not in result.stderr'
    - '"error: no objects passed to apply" not in result.stderr'
  tags:
    - install
    - update

- name: prereqs - cluster-wide
  ansible.builtin.shell: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=cluster-wide" -f {{ DEPLOY_DIR }}/site.yaml
    kubectl --kubeconfig {{ KUBECONFIG }} wait --for condition=established --timeout=60s -l "sas.com/admin=cluster-wide" crd
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - '"no matches for kind" not in result.stderr'
    - '"in version" not in result.stderr'
    - '"Warning" not in result.stderr'
    - '"no matching resources found" not in result.stderr'
    - '"error: no objects passed to apply" not in result.stderr'
  tags:
    - install
    - update

- name: prereqs - cluster-local deploy
  ansible.builtin.command: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=cluster-local" -f {{ DEPLOY_DIR }}/site.yaml --prune
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - '"no matches for kind" not in result.stderr'
    - '"in version" not in result.stderr'
    - '"Warning" not in result.stderr'
  tags:
    - install
    - update

- name: manifest - deploy
  ansible.builtin.command: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=namespace" -f {{ DEPLOY_DIR }}/site.yaml --prune
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - '"no matches for kind" not in result.stderr'
    - '"in version" not in result.stderr'
    - '"Warning" not in result.stderr'
  tags:
    - install
    - update

- name: manifest - deploy update
  command: |
    kubectl --kubeconfig {{ KUBECONFIG }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=namespace" -f {{ DEPLOY_DIR }}/site.yaml --prune --prune-whitelist=autoscaling/v2beta2/HorizontalPodAutoscaler
  register: result
  failed_when:
    - result["stderr"]|length > 0
    - '"no matches for kind" not in result.stderr'
    - '"in version" not in result.stderr'
    - '"Warning" not in result.stderr'
  tags:
    - install
    - update

- name: deploy - Uninstall postgresclusters
  environment:
    KUBECONFIG: "{{ KUBECONFIG }}"
  ansible.builtin.shell: >
    kubectl -n {{ NAMESPACE }} delete postgresclusters --selector="sas.com/deployment=sas-viya" --ignore-not-found=true
  ignore_errors: yes
  when:
    - V4_CFG_CADENCE_VERSION is version('2022.10', ">=") or V4_CFG_CADENCE_NAME|lower == "fast"
    - internal_postgres
  tags:
    - uninstall

- name: Remove Viya
  community.kubernetes.k8s:
    state: absent
    src:  "{{ DEPLOY_DIR }}/site.yaml"
    wait: false
    kubeconfig: "{{ KUBECONFIG }}"
  register: result
  ignore_errors: yes
  tags:
    - uninstall

- name: Delete namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ NAMESPACE }}"
    wait: true
    wait_timeout: 600
    kubeconfig: "{{ KUBECONFIG }}"
    state: absent
  tags:
    - uninstall
