---

- name: Create namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ NAMESPACE }}"
    wait: true
    kubeconfig: "{{ kubeconfig }}"
  tags:
    - install
    - upgrade

- name: prereqs - cluster-wide
  shell: |
    kubectl --kubeconfig {{ kubeconfig }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=cluster-wide" -f {{ DEPLOY_DIR }}/site.yaml
    kubectl --kubeconfig {{ kubeconfig }} wait --for condition=established --timeout=60s -l "sas.com/admin=cluster-wide" crd
  tags:
    - install
    - upgrade

- name: prereqs - cluster-local deploy
  shell: |
    kubectl --kubeconfig {{ kubeconfig }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=cluster-local" -f {{ DEPLOY_DIR }}/site.yaml --prune
  register: prereq_cluster_local
  ignore_errors: yes
  no_log: true
  tags:
    - install
    - upgrade

- name: prereqs - cluster-local failure check
  fail:
    msg: "{{ prereq_cluster_local }}"
  when:
    - prereq_cluster_local["stderr"]|length > 0
    - prereq_cluster_local["stderr"] is not regex(".* no matches for kind .* in version .*")
  tags:
    - install
    - upgrade

- name: manifest - deploy
  shell: |
    kubectl --kubeconfig {{ kubeconfig }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=namespace" -f {{ DEPLOY_DIR }}/site.yaml --prune
  register: manifest_deploy
  ignore_errors: yes
  no_log: true
  tags:
    - install
    - upgrade

- name: manifest - failure check
  fail:
    msg: "{{ manifest_deploy }}"
  tags:
    - install
    - upgrade

- name: manifest - deploy istio
  shell: |
    kubectl --kubeconfig {{ kubeconfig }} apply -n {{ NAMESPACE }} --selector="sas.com/admin=namespace" --prune --prune-whitelist=networking.istio.io/v1alpha3/DestinationRule --prune-whitelist=networking.istio.io/v1alpha3/VirtualService -f {{ DEPLOY_DIR }}/site.yaml
  register: manifest_deploy_istio
  ignore_errors: yes
  no_log: true
  when: 
    - V4_CFG_INGRESS_TYPE == "istio"
  tags:
    - install
    - upgrade

- name: manifest - istio failure check
  fail:
    msg: "{{ manifest_deploy_istio }}"
  when:
    - V4_CFG_INGRESS_TYPE == "istio"
    - manifest_deploy_istio["stderr"]|length > 0
    - manifest_deploy_istio["stderr"] is not regex(".* no matches for kind .* in version .*")
  tags:
    - install
    - upgrade

- name: Remove Viya
  shell: |
    kubectl --kubeconfig {{ kubeconfig }} delete -n {{ NAMESPACE }} -f {{ DEPLOY_DIR }}/site.yaml
  ignore_errors: yes
  tags:
    - uninstall

- name: Delete namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ NAMESPACE }}"
    wait: true
    kubeconfig: "{{ kubeconfig }}"
    state: absent
  tags:
    - uninstall
