# There are several TLS ingress scenarios:
# The mode: full-stack, front-door and disabled
# Each can have either customer provided certs or cert-manager generated certs
# Regardless of type or source of certificates, additional root CA certs can be provided
# See sas-bases/examples/security/README.md for full details

- name: ingress - http facts
  set_fact:
    V4_CFG_DEPLOYMENT_URL_PREFIX: 'http://'
    V4_CFG_DEPLOYMENT_URL_PORT: ':80'
  when:
    - V4_CFG_TLS_MODE == "disabled"
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - https facts
  set_fact:
    V4_CFG_DEPLOYMENT_URL_PREFIX: 'https://'
    V4_CFG_DEPLOYMENT_URL_PORT: ':443'
  when:
    - V4_CFG_TLS_MODE != "disabled"
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Security
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { resources: "{{BUNDLE_ROOT }}/overlays/network/{{V4_CFG_INGRESS_TYPE}}" }
      - { resources: "{{BUNDLE_ROOT }}/overlays/network/{{V4_CFG_INGRESS_TYPE}}/security" }
      - { resources: "{{ BUNDLE_ROOT }}/overlays/cert-manager-issuer" }
      - { transformers: "{{ BUNDLE_ROOT }}/overlays/network/ingress/security/transformers/ingress-tls-transformers.yaml", priority: 51 }
  when:
    - V4_CFG_TLS_MODE != "disabled"
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Customer Provided CA Certificates
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { generators: "{{ VDM_GENERATORS_PATH }}/customer-provided-ca-certificates.yaml", priority: 51 }
  when:
    # NOTE: These can be provided to add to the trust store even when TLS mode is "disabled" to establish outbound trust
    - V4_CFG_TLS_MODE != "disabled"
    - V4_CFG_TLS_TRUSTED_CA_CERTS is not none
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Customer Provided Server Certificates
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { generators: "{{ VDM_GENERATORS_PATH }}/customer-provided-ingress-certificate.yaml", priority: 70 }
  when:
    - V4_CFG_TLS_MODE != "disabled"
    - V4_CFG_TLS_CERT is not none
    - V4_CFG_TLS_KEY is not none
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Cert-manager Certificate Generation
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/cert-manager-provided-ingress-certificate.yaml", priority: 70 }
      - { generators: "{{ VDM_GENERATORS_PATH }}/customer-provided-merge-sas-certframe-configmap.yaml", priority: 70 }
  when:
    - V4_CFG_TLS_MODE != "disabled"
    - V4_CFG_TLS_CERT is none
    - V4_CFG_TLS_KEY is none
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Full-stack TLS
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ BUNDLE_ROOT }}/overlays/network/ingress/security/transformers/product-tls-transformers.yaml", priority: 51 }
      - { transformers: "{{ BUNDLE_ROOT }}/overlays/network/ingress/security/transformers/backend-tls-transformers.yaml", priority: 51 }
  when:
    - V4_CFG_TLS_MODE == "full-stack"
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Front-door TLS
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ BUNDLE_ROOT }}/overlays/network/ingress/security/transformers/cas-connect-tls-transformers.yaml",priority: 51 }
  when:
    - V4_CFG_TLS_MODE == "front-door"
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Disabled TLS
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ BUNDLE_ROOT }}/overlays/network/ingress/security/transformers/truststore-transformers-without-backend-tls.yaml",priority: 51 }
  when:
    - V4_CFG_TLS_MODE == "disabled"
    - V4_CFG_TLS_TRUSTED_CA_CERTS is not none
  tags:
    - install
    - uninstall
    - upgrade

- name: ingress - Consul UI
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { resources: "{{ VDM_RESOURCES_PATH }}/consul-ui.yaml" }
  when: 
    - V4_CFG_ENABLE_CONSUL_UI
  tags:
    - install
    - uninstall
    - upgrade