- name: postgres - internal
  overlay_facts:
    cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
    cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
    existing: "{{ vdm_overlays }}"
    add:
      - { resources: "overlays/internal-postgres" }
      - { resources: "overlays/crunchydata" }
      - { transformers: "overlays/internal-postgres/internal-postgres-transformer.yaml" }
      - { transformers: "postgres-storage-transformer.yaml", vdm: true, max: "2020.1.3" }
      - { transformers: "postgres-storage-transformer.v2.yaml", vdm: true, min: "2020.1.4"}
  when: 
    - V4_CFG_POSTGRES_TYPE == 'internal'
  tags:
    - install
    - uninstall
    - upgrade

- name: postgres - gcp sql-proxy
  block:
    - set_fact:
        V4_CFG_POSTGRES_FQDN: "sql-proxy"
    - shell:
        cmd: gcloud iam service-accounts add-iam-policy-binding '{{ V4_CFG_POSTGRES_SERVICE_ACCOUNT }}' --role='roles/iam.workloadIdentityUser' --member='serviceAccount:{{ PROVIDER_ACCOUNT }}.svc.id.goog[{{ NAMESPACE }}/{{ PROXY_SQL_K8S_SERVICE_ACCOUNT }}]' --project='{{ PROVIDER_ACCOUNT }}'
    - overlay_facts:
        cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
        cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
        existing: "{{ vdm_overlays }}"
        add:
          - { resources: "cloud-sql-proxy.yaml", vdm: true }
          - { transformers: "overlays/external-postgres/googlecloud-full-stack-tls-transformer.yaml", priority: 55 }
  when: 
    - V4_CFG_POSTGRES_TYPE == 'external'
    - PROVIDER == "gcp"
  tags:
    - install
    - upgrade

- name: postgres - external
  overlay_facts:
    cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
    cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "overlays/external-postgres/external-postgres-transformer.yaml" }
      - { generators: "postgres-sas-user.yaml", vdm: true }
      - { generators: "sas-go-config.yaml", vdm: true }
      - { generators: "sas-postgres-config.yaml", vdm: true }
  when: 
    - V4_CFG_POSTGRES_TYPE == 'external'
  tags:
    - install
    - uninstall
    - upgrade
