---
- name: sizing - minimal
  overlay_facts:
    cadence_name: "{{ V4_CFG_CADENCE_NAME }}"
    cadence_number: "{{ V4_CFG_CADENCE_VERSION }}"
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "overlays/cas-server/require-cas-label.yaml", priority: 90, min: "2021.1.2" } 
      - { transformers: "overlays/scaling/single-replica/transformer.yaml", priority: 90, min: "2021.1.1" } 
  when:
    - V4_CFG_CLUSTER_NODE_POOL_MODE == "minimal"
  tags:
    - install
    - uninstall
    - update
