---
- name: storage - storageclass
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{VDM_TRANSFORMERS_PATH }}/sas-storageclass.yaml", priority: 99 }
  tags:
    - install
    - uninstall
    - upgrade

- name: storage - nfs
  overlay_facts:
    existing: "{{ vdm_overlays }}"
    add:
      - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/compute-template-nfs.yaml" }
      - { transformers: "{{ VDM_TRANSFORMERS_PATH }}/cas-add-nfs-mount.yaml" }
  when:
    - V4_CFG_RWX_FILESTORE_ENDPOINT is not none
    - V4_CFG_RWX_FILESTORE_PATH is not none
  tags:
    - install
    - uninstall
    - upgrade