---
- name: cluster-monitoring - generate grafana password
  set_fact:
    V4M_GRAFANA_PASSWORD: "{{ lookup('password', '/dev/null chars=ascii_letters,digits') }}"
  tags:
    - install
  when:
    - V4M_GRAFANA_PASSWORD is none

- debug:
    msg: "Grafana password: {{ V4M_GRAFANA_PASSWORD }}"
  tags:
    - install

- name: cluster-monitoring - user values
  template:
    src: "user-values-prom-host.yaml"
    dest: "{{ tmpdir.path }}/user-values.yaml"
  tags:
    - install
    - update
    - uninstall

- name: cluster-monitoring - deploy
  shell:
    cmd: "{{ tmpdir.path }}/viya4-monitoring-kubernetes/monitoring/bin/deploy_monitoring_cluster.sh"
  environment:
    TLS_ENABLE: "true"
    PROM_OPER_USER_YAML: "{{ tmpdir.path }}/user-values.yaml"
    KUBECONFIG: "{{ KUBECONFIG }}"
    LOG_COLOR_ENABLE: false
    NODE_PLACEMENT_ENABLE: "{{ V4M_NODE_PLACEMENT_ENABLE }}"
    GRAFANA_ADMIN_PASSWORD: "{{ V4M_GRAFANA_PASSWORD }}"
  tags:
    - install
    - update

- name: cluster-monitoring - grafana cert
  community.kubernetes.k8s:
    KUBECONFIG: "{{ KUBECONFIG }}"
    state: present
    definition:
      kind: Secret
      apiVersion: v1
      metadata:
        name: "grafana-ingress-tls-secret"
        namespace: "monitoring"
      data:
        tls.crt: >-
          {{ lookup('file', V4M_GRAFANA_CERT ) |b64encode }}
        tls.key: >-
          {{ lookup('file', V4M_GRAFANA_KEY ) |b64encode }}
      type: kubernetes.io/tls
  when: 
    - V4M_GRAFANA_CERT is not none
    - V4M_GRAFANA_KEY is not none
  tags:
    - install
    - update

- name: cluster-monitoring - prometheus cert
  community.kubernetes.k8s:
    KUBECONFIG: "{{ KUBECONFIG }}"
    state: present
    definition:
      kind: Secret
      apiVersion: v1
      metadata:
        name: "prometheus-ingress-tls-secret"
        namespace: "monitoring"
      data:
        tls.crt: >-
          {{ lookup('file', V4M_PROMETHEUS_CERT ) |b64encode }}
        tls.key: >-
          {{ lookup('file', V4M_PROMETHEUS_KEY ) |b64encode }}
      type: kubernetes.io/tls
  when: 
    - V4M_PROMETHEUS_CERT is not none
    - V4M_PROMETHEUS_KEY is not none
  tags:
    - install
    - update

- name: cluster-monitoring - alertmanager cert
  community.kubernetes.k8s:
    KUBECONFIG: "{{ KUBECONFIG }}"
    state: present
    definition:
      kind: Secret
      apiVersion: v1
      metadata:
        name: "alertmanager-ingress-tls-secret"
        namespace: "monitoring"
      data:
        tls.crt: >-
          {{ lookup('file', V4M_ALERTMANAGER_CERT ) |b64encode }}
        tls.key: >-
          {{ lookup('file', V4M_ALERTMANAGER_CERT ) |b64encode }}
      type: kubernetes.io/tls
  when: 
    - V4M_ALERTMANAGER_CERT is not none
    - V4M_ALERTMANAGER_KEY is not none
  tags:
    - install
    - update

- name: cluster-monitoring - remove
  shell:
    cmd: "{{ tmpdir.path }}/viya4-monitoring-kubernetes/monitoring/bin/remove_monitoring_cluster.sh"
  environment:
    TLS_ENABLE: "true"
    PROM_OPER_USER_YAML: "{{ tmpdir.path }}/user-values.yaml"
    KUBECONFIG: "{{ KUBECONFIG }}"
    LOG_COLOR_ENABLE: false
  tags:
    - uninstall
