---

- set_fact:
    nginx_config: "{{ nginx_config |combine(prviate_cluster[PROVIDER], recursive=True)}}"
  when:
    - PRIVATE_CLUSTER_ENABLE is defined
    - PRIVATE_CLUSTER_ENABLE
    - PROVIDER in prviate_cluster
  tags:
    - install
    - upgrade

- name: Deploy ingress-nginx
  community.kubernetes.helm:
    name: "{{ nginx_name }}"
    namespace: "{{ nginx_namespace }}"
    chart_repo_url: https://kubernetes.github.io/ingress-nginx
    chart_ref: ingress-nginx
    chart_version: "{{ chart_version }}"
    values: "{{ nginx_config |combine(azure_prviate_cluster)}}"
    kubeconfig: "{{ kubeconfig }}"
    create_namespace: true
    wait: true
  tags:
    - install
    - upgrade

- name: Remove ingress-nginx
  community.kubernetes.helm:
    name: "{{ nginx_name }}"
    namespace: "{{ nginx_namespace }}"
    kubeconfig: "{{ kubeconfig }}"
    wait: true
    values: "{{ nginx_config }}"
    state: absent
  tags:
    - uninstall

- name: Remove namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ nginx_namespace }}"
    wait: true
    wait_timeout: 600
    state: absent
    kubeconfig: "{{ kubeconfig }}"
  tags:
    - uninstall
