---
- name: Add helm repo
  community.kubernetes.helm_repository:
    repo_name: bitnami
    repo_url: https://charts.bitnami.com/bitnami/
  tags:
    - install
    - uninstall
    - upgrade

- name: Create namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ cert_manager_namespace }}"
    wait: true
    kubeconfig: "{{ kubeconfig }}"
  tags:
    - install
    - upgrade

- name: Deploy cert-manager
  community.kubernetes.helm:
    name: "{{ cert_manager_name }}"
    chart_ref: jetstack/cert-manager
    namespace: "{{ cert_manager_namespace }}"
    values: "{{ cert_manager_config }}"
    chart_version: "{{ chart_version }}"
    kubeconfig: "{{ kubeconfig }}"
    wait: true
  tags:
    - install
    - upgrade

- name: Remove cert-manager
  community.kubernetes.helm:
    name: "{{ cert_manager_name }}"
    namespace: "{{ cert_manager_namespace }}"
    kubeconfig: "{{ kubeconfig }}"
    wait: true
    values: "{{ cert_manager_config }}"
    state: absent
  tags:
    - uninstall

- name: Remove namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ cert_manager_namespace }}"
    wait: true
    state: absent
    kubeconfig: "{{ kubeconfig }}"
  tags:
    - uninstall
