- hosts: localhost
  tasks:
    - name: global tmp dir
      tempfile:
        state: directory
      register: tmpdir
      tags:
        - install
        - uninstall
        - upgrade
    - name: common role
      include_role: 
        name: common
      tags:
        - install
        - uninstall
        - upgrade
    - name: jump role
      include_role:
        name: jump-server
      when:
      - JUMP_SVR_HOST is defined
      - JUMP_SVR_USER is defined
      - JUMP_SVR_PRIVATE_KEY is defined
      - V4_CFG_MANAGE_STORAGE is defined
      - V4_CFG_MANAGE_STORAGE
      tags:
        - viya
    - name: baseline role
      include_role:
        name: baseline
      tags:
        - baseline
    - include_vars:
        file: "{{ DEPLOY_DIR }}/site-config/defaults.yaml"
      when: CONFIG is not defined
      tags:
        - viya
    - name: vdm role
      include_role:
        name: vdm
      tags:
        - viya
    - name: monitoring role
      include_role:
        name: monitoring
      tags:
        - cluster-monitoring
        - cluster-logging
        - viya-monitoring
    - name: Delete tmpdir
      file:
        path: "{{ tmpdir.path }}"
        state: absent
      tags:
        - install
        - uninstall
        - upgrade
  vars:
    kubeconfig: "{{ KUBECONFIG|default(null, -1) }}"
    loadBalancerSourceRanges: "{{ LOADBALANCER_SOURCE_RANGES }}"
    user: "{{ USER }}"
    password: "{{ PASSWORD }}"
