apiVersion: builtin
kind: ConfigMapGenerator
metadata:
  name: sas-certframe-user-config
behavior: merge
literals:
- SAS_CERTIFICATE_DURATION={{ V4_CFG_TLS_DURATION }}{{ "h" if V4_CFG_TLS_GENERATOR == "cert-manager" else "" }}
- SAS_CERTIFICATE_ADDITIONAL_SAN_DNS={{ V4_CFG_TLS_ADDITIONAL_SAN_DNS }}
- SAS_CERTIFICATE_ADDITIONAL_SAN_IP={{ V4_CFG_TLS_ADDITIONAL_SAN_IP }}
{% if V4_CFG_TLS_GENERATOR == "openssl" %}
- SAS_CERTIFICATE_GENERATOR=openssl
{% endif -%}
