apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ PROXY_SQL_K8S_SERVICE_ACCOUNT }}
  annotations:
    iam.gke.io/gcp-service-account: {{ V4_CFG_POSTGRES_SERVICE_ACCOUNT }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sql-proxy
  labels:
    app: sql-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sql-proxy
  template:
    metadata:
      labels:
        app: sql-proxy
    spec:
      containers:
        - name: sql-proxy
          image: '{{ PROXY_SQL_IMAGE }}'
          env:
            - name: POSTGRES_CONNECTION_NAME
              value: {{ V4_CFG_POSTGRES_CONNECTION_NAME }}
          command:
            - "/cloud_sql_proxy"
          args:
            - "-ip_address_types=PRIVATE"
            - "-instances=$(POSTGRES_CONNECTION_NAME)=tcp:0.0.0.0:5432"
          volumeMounts:
            - name: cloudsql-instance-credentials
              mountPath: /secrets/cloudsql
              readOnly: true
      volumes:
        - name: cloudsql-instance-credentials
          secret:
            secretName: sql-proxy-serviceaccountkey
      imagePullSecrets: []
      serviceAccountName: {{ PROXY_SQL_K8S_SERVICE_ACCOUNT }}
---
kind: Service
apiVersion: v1
metadata:
  name: sql-proxy
  labels:
    app: sql-proxy
spec:
  ports:
    - name: sql
      protocol: TCP
      port: 5432
      targetPort: 5432
  selector:
    app: sql-proxy
  type: ClusterIP
